alter table profiles add column if not exists expense_model text default 'commission'; alter table profiles add column if not exists rent_amount numeric default 0; alter table profiles add column if not exists rent_period text default 'monthly';
